/* Estilos gerais */
body {
    font-family: 'Roboto', sans-serif;
}

.navbar-brand {
    font-weight: bold;
}

.banner {
    background-color: #333;
    color: white;
    padding: 50px 20px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

#youtube .btn-danger,
#discord .btn-primary {
    font-size: 1.2em;
    padding: 10px 20px;
}

footer {
    margin-top: 50px;
    font-size: 0.9em;
}

.container {
    margin-top: 20px;
}
